#images {
	position: relative;
	margin: 0 330px;
}
#images img {
	top: 30px;
	position: absolute;
	width: 700px;
	height: 400px;
	opacity: 0;
	transition: opacity 1s ease;
	border: 6px solid black;
}
#images .visible {
	opacity: 1;
	transition: opacity 1s ease;
}
#buttons {
	padding-top: 460px;
	padding-left: 575px;
}
#buttons button {
	width: 100px;
	height: 30px;
	background-color: black;
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}